<div class="container-fluid no-padding">
    <!-- Top -->
    <div class="row top-bar">
        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-12">
            <h1 class="title">Weather Forecast</h1>
        </div>
        <div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 location">
            <form class="form-inline" (submit)="searchApi()">
                <div>
                    <input [(ngModel)]="city" class="form-group form-control" name="city" type="text">
                    <button (click)="searchApi()" id="searchBtn" class="form-group form-control btn btn-info glyphicon glyphicon-search"></button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Top -->

    <!-- Start Content -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="page-header">Next days in <span class="text-info">{{ city }}</span></h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Today: <span class="text-info">{{ (actualDay?.dt | amFromUnix) | amDateFormat:'dddd MM/DD/YYYY' }}</span></div>
                        <app-day [counter]="counter" [day]="actualDay" [expand]="expand" [today]="true"></app-day>
                    </div>
                </div>

                <div class="col-md-8">
                    <div (click)="expand != counter ? expand = counter : expand = null" *ngFor="let day of days; let counter = index" class="div-clickable" [hidden]="expand != null && counter != expand" [ngClass]="{'col-md-4': counter != expand, 'col-md-12 fade-effect step-effect': counter == expand }">
                        <div class="panel panel-default box-holder-1 bordershadow">
                            <div class="panel-heading text-info">
                                {{ (day.dt | amFromUnix) | amDateFormat:'dddd MM/DD/YYYY' }}
                                <button class="pull-right btn-danger" [ngClass]="{'btn btn-xs': expand != null}" [hidden]="expand == null">Show All</button>
                            </div>
                            <app-day [counter]="counter" [day]="day" [expand]="expand" [today]="false"></app-day>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Content -->
</div>

<!-- Bouncer -->
<div [hidden]="!backdrop" class="backdrop">
    <div class="spinner animated bounce">
        <span class="glyphicon glyphicon-cloud"></span>
    </div>
</div>
<!-- End Bouncer -->